.folder-title {
  font-family: Times;
  font-size: xxx-large;
}

body {
  background-color: #844804;
  margin-top: 20px;
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
}

.add-question,
.add-answer,
.folder-item,
.task-item
 {
  background-color: rgba(255, 255, 255, 0.275);
  padding: 10px 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -3.8;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.add-question,
.add-answer
{
  background-color: rgba(255, 255, 255, 0.275);
  padding: 10px 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -3.8;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.add-answer::placeholder {
  color: #191c1c;
}

.add-question::placeholder {
  color: #191c1c;
}

.add-folder
{
  background-color: rgba(255, 255, 255, 0.275);
  padding: 10px 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -3.8;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 350px;
}

.add-folder::placeholder {
  color: #191c1c;
}


.submit-question
{
  background-color: rgba(255, 255, 255, 0.275);
  padding: 10px 20px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -3.8;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
  cursor: pointer;
}

.add-folder,
.add-question,
.add-answer,
.submit-question {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: #4b2e00;
}

.folder-item
{
  background-color: rgba(255, 255, 255, 0.275);
  padding: 16px 32px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -3.8;
  color: #2c3e50;
  background-color: #926c2a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.task-item
{
  background-color: rgba(255, 255, 255, 0.275);
  padding: 16px 16px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  letter-spacing: -3.8;
  background-color: #2c3e50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 855px;
}

.task-item .card {
  margin: 0;
  padding: 0;
}

.task-item .question {
  margin-top: 5px;
  margin-bottom: 10px;
  margin: 0;
  padding: 0;
}

.task-item .answer {
  margin-top: 10px;
  margin: 0;
  padding: 10;
}

.task-item .del-task-button {
  flex-shrink: 0;
  margin-left: 16px;
}

.delete-folder-button
{
  background-color: rgba(169, 25, 25, 0.5);
  padding: 10px 20px;
  font-weight: 10;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -3.8;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.del-task-button
{
  background-color: rgba(169, 25, 25, 0.5);
  padding: 10px 20px;
  font-weight: 10;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -3.8;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.to-folder-button
{
  background-color: rgba(27, 205, 74, 0.275);
  padding: 10px 20px;
  font-weight: 10;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -3.8;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.arrow1
{
  border-radius: 10px;
  text-align: center;
  color: #2c3e50;
  padding: 10px 50px;
  background-color: #92622a;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  cursor: pointer;
  border:rgba(0, 0, 0, 0.1);
}

.arrow2
{
  border-radius: 10px;
  text-align: center;
  color: #2c3e50;
  padding: 10px 50px;
  background-color: #92622a;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  cursor: pointer;
  margin-bottom: 50px;
  border:rgba(0, 0, 0, 0.1);
  float: right;
}


.folder-list,
.notes
{
  list-style-type: none; 
  padding: 0;
  margin: 0; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-number {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  padding: 10px 20px;
  background-color: #926c2a;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.card {
  height: 100px;
  position: relative;
  perspective: 1500px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card-front {
  background-color: #2c3e50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
}

.card-back {
  background-color: #2c3e50; 
  transform: rotateY(180deg); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
}

.question,
.answer {
  font-size: 24px;
  font-weight: bold;
  color: #926c2a;
  text-align: center;
  padding: 20px;
}

.cur-folder {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

